@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    max-height: 8rem;
    overflow: hidden;
    transition: 1s;
  }
  .toggle-btn {
    display: block;
  }
  .nav-menu {
    flex-direction: column;
  }
  .nav-menu .nav-items {
    text-align: center;
  }
  .nav-menu .nav-items .nav-links {
    display: block;
  }
  .navCollapse {
    max-height: 50rem;
    transition: 1s;
  }
  .social-area {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .social-area a {
    padding: 1rem 2rem;
  }
}
