/************Fonts Css**************/
@import url('../css/fonts.css');

/*************Root Area*************/
:root{
    /* ***Fonts Variable*** */
    --abel : 'Abel',cursive;
    --anton : 'Anton',cursive;
    --josefin : 'Josefin',cursive;
    --lexend : 'Lexend',cursive;
    --livvic : 'Abel',cursive;

    /* ***Colors Variable*** */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/*************Basic Changes************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* ***********Header Area************ */
nav{
    justify-content: space-between;
    color: var(--text-gray);
}
.logo-area{
    padding-left: 1rem;
    .logo-txt{
        font-size: 2.5rem;
        font-family: var(--lexend);
        color: var(--text-gray);
        padding: 1.5rem;
        display: inline-block;
    }
}

.nav-menu{
    .nav-items{
        :hover{
            background-color: var(--midnight);
            color: var(--white);
        }
        .nav-links{
            font-family: var(--abel);
            font-size: 1.7rem;
            padding: 1.5rem;
            letter-spacing: .1rem;
            display: inline-block;
            transition: .3s;
        }
    }
}
.social-area{
    padding-right: 2rem;
    a{
        font-size: 2rem;
        padding: .5rem;
        margin-top: 1.5rem;
        display: inline-block;
        cursor: pointer;
        :hover{
            color: var(--text-light);
        }
    }
}