/******Fonts Css******/
@import url('../css/fonts.css');

/*********Root Area*********/
:root{
    /* ***Fonts Variable*** */
    --abel : 'Abel',cursive;
    --anton : 'Anton',cursive;
    --josefin : 'Josefin',cursive;
    --lexend : 'Lexend',cursive;
    --livvic : 'Abel',cursive;

    /* ***Colors Variable*** */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/*********Basic Changes*********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}